

    <div class="profile-photos-block" >
        <div class="profilePhotos" >
            <div class="profilePhotos-headingOverview" >
                <h4 class="profilePhotosInline" >AllPhotosTitle</h4>

                <span class="btn btn-primary btn-file" >
                    AddPictureTitle<input multiple name="files" id="files" type="file" accept="image/x-png, image/gif, image/jpg image/jpeg" >
                </span>

                <div class="profilePhotosInlineForm" >
                    <span class="btn btn-warning btn-delete" id="checkBtnId" style="display: none;" >
                        <i class="glyphicon glyphicon-trash" style="display: inline-block;" >
                            <input title="Delete" type="submit" >
                        </i>
                    </span>

                    <input class="deleteAll" id="checkboxId" name="checkboxId" type="checkbox" >
                    <label class="checkbox" for="checkboxId" title="Select all" ></label>
                </div>

            </div>
                <ul class="hoverbox" ></ul>
        </div>

    </div>