
<div id="ControlNavigationId">
  <meta name="description" content="Customers Profile of Online Shoe King is about to look a user." />
  <meta name="keywords" content="Shoe King, Online, Shoe, King, Men, Women, user, Customers Profile, Customers, Profile" />

  <div class="pag-nav">
      <ul class="p-list">
          <li><a href="/">ControllerName</a></li>
          <li>
              &nbsp;/&nbsp;
          </li>

          <li class="act">ActionName</li>
      </ul>
  </div>

  <!---start-product-details--->
  <div class="profile-panel">
      <div class="profile-header">
  
              <img align="left" class="image-lg" src="../../assets/banner.jpg" alt="CoverImage" title="CoverImage" />

              <img align="left" class="image-profile thumbnail customer-profile" src="../../assets/banner.jpg" alt="ProfileImage" title="@OnlineShoeKing.Resources.Language.ProfileImage" />

          <div class="profile-text">
              <h1>
                  <span>...</span>
              </h1>
          </div>
      </div>
      
    

      <div>
          <div class="profile-buttons">
              <a href="../../assets/banner.jpg"><input type="submit" class="btn profile-button" value="OverviewTitle" /></a>
              <a href="../../assets/banner.jpg"><input type="submit" class="btn profile-photos" value="PhotosTitle" /></a>
                  
              <a href="../../assets/banner.jpg"><input type="submit" class="btn modify-button" value="ModifyTitle" /></a>
              <input type="submit" class="btn delete-account-button" value="DeleteBtn" />
               
              <input type="submit" class="btn profile-chat" value="Chat" />
          </div>
          
              <!-- <div class="private-customer-profile">
                   @OnlineShoeKing.Resources.Language.IsHided
              </div> -->
        
              <div class="profileInfo">
                      <div class="panel-headingOverview">
                          <h4> BasicInfoT itle</h4>
                      </div>
                      <div class="panel-bodyOverview">
                          <div class="col-sm-5 col-xs-12">EmailTitle:</div>
                          <div class="col-sm-7">
                                <span>...</span>
                          </div>
                          <div class="clearfix"></div>
                          <div class="bot-border"></div>
                          <div class="col-sm-5 col-xs-12">
                              FirstNameTitle:
                          </div>
                          <div class="col-sm-7">
                                <span>...</span>
                          </div>
                          <div class="clearfix"></div>
                          <div class="bot-border"></div>
                          <div class="col-sm-5 col-xs-12">LastNameTitle:</div>
                          <div class="col-sm-7">
                                <span>...</span>
                          </div>
                          <div class="clearfix"></div>
                          <div class="bot-border"></div>
                          <div class="col-sm-5 col-xs-12">JoiningTitle:</div>
                          <div class="col-sm-7">
                                <span>...</span>
                          </div>
                          <div class="clearfix"></div>
                          <div class="bot-border"></div>
                          <div class="col-sm-5 col-xs-12">GenderTitle:</div>
                          <div class="col-sm-7">
                                <span>...</span>
                          </div>
                          <div class="clearfix"></div>
                          <div class="bot-border"></div>
                          <div class="col-sm-5 col-xs-12">Count Title:</div>
                          <div class="col-sm-7">
                                <span>0</span>
                          </div>
                      </div>

                  <div id="purchased-products-user"></div>
                  </div>
      </div>

  </div>
</div>
