
    <div class="pag-nav"></div>

  <div class="coats">
      <h3 class="c-head">Contact</h3>
      <p>Office is located words</p>
      <p>Reach our online words</p>
  </div>
  <div class="contact-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.7286595117407!2d23.347473950898376!3d42.64591197906655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa841f234e6fd1%3A0xcf17511633fdc8ad!2z0J3QsNGG0LjQvtC90LDQu9C90LAg0KHQv9C-0YDRgtC90LAg0JDQutCw0LTQtdC80LjRjyDigJ7QktCw0YHQuNC7INCb0LXQstGB0LrQuOKAnA!5e0!3m2!1sbg!2sbg!4v1488401592482"> </iframe>
  </div>
  <div class="contact-box" >
      <form [formGroup]="contactForm" (ngSubmit)="sendContactMsgForm()" action="/">
          <div class="form" >
              <div class="" >
                  <small>Subject</small>
                  <div class="text" >
                      <input type="text" placeholder="Your subject here" formControlName="subject" />
                  </div>
                  <div *ngIf="contactBtn && contactForm.controls.subject.errors" class="errors">
                    <div *ngIf="contactForm.controls.subject.errors.required" class="center">Subject is required</div>
                  </div>
              </div>
          </div>
          <div class="form-t" >
              <small>Name</small>
              <div class="text" >
                  <input type="text" placeholder="Your name here" formControlName="name" />
              </div>
              <div *ngIf="contactBtn && contactForm.controls.name.errors" class="errors">
                <div *ngIf="contactForm.controls.name.errors.required" class="center">Your name is required</div>
              </div>
          </div>
          <div class="form-y" >
              <small>Email</small>
              <div class="text" >
                  <input type="text" placeholder="Your email here" formControlName="email" />
              </div>
              <div *ngIf="contactBtn && contactForm.controls.email.errors" class="errors">
                <div *ngIf="contactForm.controls.email.errors.required" class="center">Email is required</div>
              </div>
          </div>
          <div class="clearfix" ></div>
          <div class="form" >
              <small>Message</small>
              <div class="text" >
                  <textarea formControlName="message"></textarea>
              </div>
              <div *ngIf="contactBtn && contactForm.controls.message.errors" class="errors">
                <div *ngIf="contactForm.controls.message.errors.required" class="center">Message is required</div>
              </div>
          </div>

          <div class="text" >
            <input type="submit" value="Send" />
        </div>
      </form>
  </div>