<div class="panel-headingOverview">
    <h4>BasicInfo Title</h4>
</div>
<div class="panel-bodyOverview">
    <div class="col-sm-5 col-xs-12">EmailTitle:</div>
    <div class="col-sm-7">
      <span>...</span>
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>
    <div class="col-sm-5 col-xs-12">
        FirstName Title:
    </div>
    <div class="col-sm-7">
      <span>...</span>
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>
    <div class="col-sm-5 col-xs-12">LastName Title:</div>
    <div class="col-sm-7">
      <span>...</span>
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>
    <div class="col-sm-5 col-xs-12">Date Of Joining Title:</div>
    <div class="col-sm-7">
      <span>...</span>
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>
    <div class="col-sm-5 col-xs-12">Gender Title:</div>
    <div class="col-sm-7">
      <span>...</span>
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>
    <div class="col-sm-5 col-xs-12">Photo Count Title:</div>
    <div class="col-sm-7">
      <span>0</span>
    </div>
</div>